#main{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	z-index: -1;
}

#upload-section {
	width: 33%;
	height: 66vh;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: space-around;
}

#mask {
	width: 100vw;
	height: 100vh;
	position: fixed;
	justify-content: center;
	align-items: center; 
	background-color: rgba(231, 200, 244, 0.5);
	background-image: url('./drop_transparent.png');
	background-size: contain;
	background-repeat: repeat;
	z-index: 1;
	display: none;

}

#loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

#uploadForm {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: space-between;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}